In [ ]:
#zoo.py
def hours():
    print("Open 9-5 daily")

The above script must be placed into a separate .py file and put into the same directory as this file for sections 11.1 and 11.2 to function properly.

In [ ]:
#11.1
import zoo

zoo.hours()

In [ ]:
#11.2
import zoo as menagerie

menagerie.hours()

In [ ]:
#16.3
import csv

books = [
    ["title","author","year"],
    ["The Weirdstone of Brisingamen","Alan Garner",1960],
    ["Perdido Street Station","China Mi√©ville",2000],
    ["Thud!","Terry Pratchett",2005],
    ["The Spellman Files","Lisa Lutz",2007],
    ["Small Gods","Terry Pratchett",1992],
    ]

with open("books2", "wt") as fout:
    cvsout = csv.writer(fout)
    cvsout.writerows(books)

In [ ]:
#16.4
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(50) PRIMARY KEY,
     author VARCHAR(50),
     year INT)''')

conn.close

In [ ]:
#16.5
import csv
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
ins = 'INSERT INTO books (title, author, year) VALUES (?, ?, ?)'

with open("books2", "rt") as fin:
    cin = csv.DictReader(fin)
    books = [row for row in cin]

for book in books:
    print(book)
    title = book["title"]
    author = book["author"]
    year = book["year"]
    curs.execute(ins, (title, author, year))
    conn.commit()

conn.close

In [ ]:
#16.6
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('SELECT title FROM books ORDER BY title')
rows = curs.fetchall()

print(rows)
print("")

for row in rows:
    print(f"Title: {row[0]}")

conn.close

In [ ]:
#16.7
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('SELECT * FROM books ORDER BY year')
rows = curs.fetchall()

for row in rows:
    print(f"Title: {row[0]}")
    print(f"Author: {row[1]}")
    print(f"Year: {row[2]}")
    print("")

conn.close

In [ ]:
#16.8
import sqlalchemy
from sqlalchemy import text
from sqlalchemy.engine import Engine
engine = sqlalchemy.create_engine('sqlite:///books.db')

with engine.connect() as conn:
    rows = conn.execute(text('SELECT * FROM books ORDER BY title asc'))
    rows = rows.fetchall()
    for row in rows:
        print(f"Title: {row[0]}")

conn.close